.reservation {
  min-height: calc(100vh - 80px);
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 12px;
  background-color: #fff;
  box-shadow: 5px 5px 18px #888888;
}

.reservation > h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 0.5em 0;
}

.reservationTools {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delReservation {
  font-weight: 500;
  color: #800000;
  border: 1px solid #800000;
  border-radius: 4px;
  padding: 4px 12px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.delReservation:hover {
  background: #800000;
  color: #fff;
}

/* Reservation Table */
.reservationHeader {
  display: flex;
  padding: 12px 8px;
  font-style: italic;
  font-weight: 600;
  color: #fff;
  background: #384e71;
}

.reservationHeader > p {
  padding-left: 24px;
  width: 20%;
}

.reservationData {
  display: flex;
  padding: 12px 8px;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  color: #384e71;
  border: 1px solid #384e71;
  border-top: none;
}

.reservationData > p {
  position: relative;
  padding-left: 24px;
  width: 20%;
}

.reservationData > p::after {
  position: absolute;
  content: " ";
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  height: 80%;
  width: 1px;
  background: #384e71;
}

.actBtn {
  display: flex;
  justify-content: space-evenly;
}

.assBtn,
.delBtn {
  width: 40%;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.assBtn {
  border: 1px solid #384e71;
}

.assBtn:hover {
  color: #fff;
  background: #384e71;
}

.delBtn {
  border: 1px solid #800000;
  color: #800000;
}

.delBtn:hover {
  color: #fff;
  background: #800000;
}
