.rooms {
  box-sizing: border-box;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 5px 5px 18px #888888;
}

.room {
  width: 100%;
  display: flex;
  gap: 8px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.rFloor {
  min-height: 64px;
  height: 100%;
  width: 114px;
  background: #312c38;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rField {
  background: #fff;
  display: flex;
  flex: 1;
  gap: 8px;
  flex-wrap: wrap;
}

.rField > span {
  height: 64px;
  width: 114px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.noRoom {
  font-weight: bold;
  font-style: italic;
  margin: 16px auto;
}

.bgGreen {
  background-color: #32cd32;
}

.bgRed {
  background-color: #ff0000;
}

.bgOrange {
  background-color: #ff8c00;
}

.bgPurple {
  background-color: #5d4b63;
}

.bgGrey {
  background-color: #737373;
}

.rDepartment {
  font-size: 18px;
  font-weight: bold;
}

.rPrice {
  font-size: 32px;
  font-weight: bold;
  color: gold;
}
