.confirmBoxContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.confirmBox {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background: rgb(255, 255, 255);
    padding: 3em;
    border-radius: 12px;
}

.confirmBox > p {
    font-size: 20px;
    font-weight: 700;
}

.formBtn {
    padding: 0.25em;
    font-weight: 600;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease;
}

.acceptFormBtn {
    color: #008009;
    border: 2px solid #008009;
}

.acceptFormBtn:hover {
    color: #fff;
    background: #008009;
}

.delFormBtn {
    color: #800000;
    border: 2px solid #800000;
}

.delFormBtn:hover {
    color: #fff;
    background: #800000;
}

.cancelFormBtn {
    color: #555;
    border: 2px solid #555;
}

.cancelFormBtn:hover {
    color: #fff;
    background: #555;
}
