.navbar {
    min-width: 100%;
    height: 80px;
    background-color: #384e71;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navContainer {
    width: 80%;
    max-width: 1024px;
    margin: 0 1em;
    color: #e0e4cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background: url('../../assets/logo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 32px;
}

.navButton {
    margin-left: 20px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    color: #384e71;
}

.navUser {
    position: relative;
}

.navUserRole {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
}

.navUserOptions {
    position: absolute;
    width: max-content;
    top: 56px;
    right: 0px;
    background-color: #384e71;
    color: #fff;
    border-radius: 0.5em;
    overflow: hidden;
}

.navUserOptions > p {
    position: relative;
    display: flex;
    align-items: center;
    color: #febb02;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 32px 16px 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navUserOptions > p:hover {
    background: #febb02;
    color: #384e71;

    & .navUserBadge {
        background: #384e71;
        color: #febb02;
    }
}

.navUserOptionsAfter {
    position: relative;

    &::after {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #e0e4cc;
    }
}

.navUserOptions > p > ion-icon {
    margin-right: 8px;
}

.navUserBadge {
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    background: #febb02;
    color: #384e71;
    position: absolute;
    top: 0.4em;
    right: 0.8em;
    border-radius: 50%;
    transition: all 0.3s ease;
}
