.statusbar {
  box-sizing: border-box;
  position: sticky;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  top: 80px;
  width: 100%;
  background-color: #fff;
  box-shadow: 5px 5px 18px #888888;
  z-index: 100;
}

.statusbarLeft {
  position: relative;
  width: 30%;
}

.statusbarSearchRoom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 8px;
}

.statusbarDepartment {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
}

.statusbarFilter {
  outline: none;
  flex: 1;
}

.statusbarSearchFloor {
  display: flex;
  justify-content: space-between;
}

.statusbarLeft::after {
  content: "";
  position: absolute;
  right: -16px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #ccc;
  border-radius: 5px;
}

.statusbarCalendar {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
}

.statusbarSearchIcon {
  font-size: 24px;
  color: #384e71;
  cursor: pointer;
}

.statusbarRight {
  margin-left: 16px;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  flex: 1;
}

.statusbarRoomStatus {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--bg);
  border-radius: 4px;
  cursor: pointer;
}

.statusbarRoomStatusBox {
  margin: 0 4px;
  width: 16px;
  height: 16px;
  background-color: var(--bg);
}
